{
  "$schema": "https://json.schemastore.org/eslintrc",
  "ignorePatterns": ["node_modules/*", ".next/*"],
  "root": true,
  "extends": [
    "next/core-web-vitals",
    "plugin:tailwindcss/recommended",
    "plugin:storybook/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "func-style": [
      "warn",
      "expression",
      {
        "allowArrowFunctions": true
      }
    ],
    "complexity": ["warn", 5]
  }
}
