# Node
node_modules
.pnp
.pnp.js

# Lockfiles
package-lock.json
yarn.lock
bun.lockb

# Next
.next
out

# Misc
.DS_Store

# Envs
.env*.local
.env

# Vercel
.vercel

# Typescript
next-env.d.ts
tsconfig.tsbuildinfo

# Webstorm
.idea

# Visual Studio Code
.vscode
