@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Ferro Rosso";
    font-style: normal;
    src: url("../public/fonts/ferro-rosso.regular.ttf") format("truetype");
  }
}

@layer components {
  .input-text-label {
    @apply flex items-center justify-center bg-primary-800 px-2 text-primary-100;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }


}

.parent[data-isOpen="true"] {
  width: 400px;
  height: 200px;
}

.child {
  width: 40px;
  height: 40px;
  background: #f107a3;
  border-radius: 50%;
}







