@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Ferro Rosso";
    font-style: normal;
    src: url("../public/fonts/ferro-rosso.regular.ttf") format("truetype");
  }
}

@layer components {
  .input-text-label {
    @apply flex items-center justify-center   px-2 text-primary-200;
  }

  .login-form {
    @apply w-full h-full flex justify-center flex-col gap-12;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgb(31 41 55 / 0.7);
    border-radius: 20px;
    border: 3px solid transparent;
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
  }
}

.pageContent {
  view-transition-name: page-content;
}

::view-transition-old(page-content) {
  animation: fade-out-right 0.5s ease-out;
}

::view-transition-new(page-content) {
  animation: fade-in-left 0.5s ease-out;
}

@keyframes fade-out-right {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
